<!DOCTYPE html>
<html lang="en">
<head>
    <title>StockPusherWA</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="10" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css'>
</head>
<body>
    <h1>Stock Pusher WhatsAPP</h1>
<p>
    Send me a message like this:</BR>
    {Stock Symbol} {price} {up/down}</BR>
    eg. APPL 200 UP</BR>
    When it passes that in the direction you want I'll send you a message.
</p>
</body>
</html>